$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// Vars
:root {

--Primary-Brand: hsl(79, 68%, 32%);
--Primary-Contrast: hsl(79, 68%, 23%);
--Secondary-Brand: hsl(17, 100%, 50%);
--Secondary-Contrast: hsl(17, 100%, 40%);
--Tertiary-Brand: hsl(38, 100%, 50%);
--Tertiary-Contrast: hsl(38, 100%, 30%);
--Caution: hsl(9, 90%, 47%);
--Success: hsl(120, 100%, 20%);

--0-White: hsl(0, 0%, 100%);
--1-Bright: hsl(0, 0%, 97%);
--2-Lighter: hsl(0, 0%, 94%);
--3-Light: hsl(0, 0%, 80%);
--4-Base: hsl(0, 0%, 60%);
--5-Shade: hsl(0, 0%, 35%);
--6-Dark: hsl(0, 0%, 20%);
--7-Darkest: hsl(0, 0%, 10%);
--8-Black: hsl(0, 0%, 0%);

--header-height: var(--space-4xl);
--border-radius-sm: var(--space-3xs);
--border-radius-md: var(--space-2xs);

// --content-width:800px;

--color-system-main: var(--7-Darkest);
--color-system-dimmed: color-mix(in srgb, var(--color-system-main) 75%, transparent);;
--color-system-disabled: color-mix(in srgb, var(--color-system-main) 35%, transparent);;
--color-system-muted: color-mix(in srgb, var(--color-system-main) 10%, transparent);;
--color-system-none: color-mix(in srgb, var(--color-system-main) 0%, transparent);;

--color-system-invert-grad: linear-gradient(225deg, hsl(20, 50%, 95%) 0%, hsl(20, 70%, 85%) 100%);
--color-system-invert: var(--0-White);
--color-system-invert-highlight: var(--2-Lighter);

--color-link-main: hsl(207, 76%, 37%);
--color-link-slight: hsl(207, 76%, 57%);

--color-focus-main: var(--color-link-main);
--color-focus-slight: var(--color-link-slight);

--bg-primary: var(--color-system-invert);
--content-space: 1rem;
--space-md: 1rem;
--bg-pre: none;

// Overrides
// brand colors
--c-brand: var(--Primary-Contrast);
--c-brand-light: var(--Primary-Brand);

// text colors
--c-text: var(--color-system-main);
--c-text-accent: var(--c-brand);
--c-text-light: var(--color-system-dimmed);
--c-text-lighter: var(--color-system-disabled);
--c-text-lightest: var(--color-system-muted);
--c-text-quote: var(--color-system-main);

// border colors
--c-border: var(--color-system-disabled);
--c-border-dark: var(--color-system-disabled);


--shadow-sm: 
	0 0.1rem 0.1rem var(--color-system-muted), 
	0 0.2rem 0.2rem var(--color-system-muted),
	0 0.3rem 0.3rem var(--color-system-muted);
--shadow-md: 
	0 0.2rem 0.2rem var(--color-system-muted), 
	0 0.4rem 0.4rem var(--color-system-muted),
	0 0.8rem 0.8rem var(--color-system-muted);
--shadow-lg: 
	0 0.4rem 0.4rem var(--color-system-muted), 
	0 0.8rem 0.8rem var(--color-system-muted),
	0 1.6rem 1.6rem var(--color-system-muted);
--font-wight--bolder: bolder;
--font-size-2xl: 2em;
}

body {
	background: var(--color-system-invert);
	color: var(--color-system-main);
}

img {
	width: 100%;
	height: auto;
	display: flow-root;
}
// button {
// 	@include focus();
// 	color: var(--color-link-main);
// 	background-color: var(--color-system-invert-highlight);
// 	box-shadow: 0 var(--space-4xs) var(--color-link-main), inset 0 0 0 1px var(--color-link-slight);
// 	border: none;
// 	// padding: var(--space-2xs) var(--space-xs);
// 	padding: 0.8em 1em;
// 	font-size: var(--step--1);
// 	border-radius: var(--border-radius-sm);
// 	font-family: var(--font-mono);
// 	cursor: pointer;
// 	transition: transform 0.35s ease-in-out, box-shadow 0.25s ease-in-out;
// 	transform: translateY(calc(var(--space-4xs) * -1));
// 	&:hover {
// 		transform: translateY(0);
// 		box-shadow: 0 0 var(--color-link-main), inset 0 0 0 1px var(--color-link-main);
// 	}
// }
.icon-btn {
	padding: var(--space-2xs);
}
hr {
	border: none;
	border-bottom: solid 1px var(--color-system-disabled);
	margin-block: var(--space-m);
}
.this-image {
	max-width: calc(var(--space-3xl) * 4);
	height: auto;
	object-fit: cover;
}
.dark {
	--color-system-main: var(--0-White);

	--color-system-invert: var(--7-Darkest);
	--color-system-invert-highlight: var(--8-Black);

	--color-link-main: hsl(290, 100%, 90%);
	--color-link-slight: hsl(290, 100%, 80%);

	--color-focus-main: hsl(200, 100%, 40%);
	--color-focus-slight: hsl(200, 100%, 60%);

	--Caution: #ff3e17;
	--Success: #48d800;
}

.logo {
	width: auto;
	display: unset;
}