$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// Vars
:root {

--color-primary-brand: hsl(79, 68%, 32%);
--color-primary-contrast: hsl(79, 68%, 23%);
--color-secondary-brand: hsl(17, 100%, 50%);
--color-secondary-contrast: hsl(17, 100%, 40%);
--color-tertiary-brand: hsl(38, 100%, 50%);
--color-tertiary-contrast: hsl(38, 100%, 30%);

--color-mono-0-white: hsl(0, 0%, 100%);
--color-mono-1-bright: hsl(0, 0%, 97%);
--color-mono-2-lighter: hsl(0, 0%, 94%);
--color-mono-3-light: hsl(0, 0%, 80%);
--color-mono-4-base: hsl(0, 0%, 60%);
--color-mono-5-shade: hsl(0, 0%, 35%);
--color-mono-6-dark: hsl(0, 0%, 20%);
--color-mono-7-darkest: hsl(0, 0%, 10%);
--color-mono-8-black: hsl(0, 0%, 0%);

--header-height: var(--space-4xl);
--border-radius-sm: var(--space-3xs);
--border-radius-md: var(--space-2xs);

// --content-width:800px;

--color-system-main: var(--color-mono-7-darkest);
--color-system-dimmed: color-mix(in srgb, var(--color-system-main) 75%, transparent);
--color-system-disabled: color-mix(in srgb, var(--color-system-main) 35%, transparent);
--color-system-muted: color-mix(in srgb, var(--color-system-main) 10%, transparent);

--color-link-main: hsl(207, 76%, 37%);
--color-link-dimmed: color-mix(in srgb, var(--color-link-main) 75%, transparent);
--color-link-disabled: color-mix(in srgb, var(--color-link-main) 35%, transparent);
--color-link-muted: color-mix(in srgb, var(--color-link-main) 10%, transparent);

--color-focus-main: var(--color-link-main);
--color-focus-dimmed: color-mix(in srgb, var(--color-link-main) 75%, transparent);

--color-caution-main: hsl(0, 100%, 45%);
--color-caution-dimmed: color-mix(in srgb, var(--color-caution-main) 75%, transparent);
--color-caution-disabled: color-mix(in srgb, var(--color-caution-main) 35%, transparent);
--color-caution-muted: color-mix(in srgb, var(--color-caution-main) 10%, transparent);

--color-success-main: hsl(120, 100%, 20%);
--color-success-dimmed: color-mix(in srgb, var(--color-success-main) 75%, transparent);
--color-success-disabled: color-mix(in srgb, var(--color-success-main) 35%, transparent);
--color-success-muted: color-mix(in srgb, var(--color-success-main) 10%, transparent);

--color-system-invert-grad: linear-gradient(225deg, hsl(20, 50%, 95%) 0%, hsl(20, 70%, 85%) 100%);
--color-system-invert: var(--color-mono-0-white);
--color-system-invert-highlight: var(--color-mono-2-lighter);

--bg-primary: var(--color-system-invert);
--content-space: 1rem;
--space-md: 1rem;
--bg-pre: none;

// Overrides
// brand colors
--c-brand: var(--color-primary-contrast);
--c-brand-light: var(--color-primary-brand);

// text colors
--c-text: var(--color-system-main);
--c-text-accent: var(--c-brand);
--c-text-light: var(--color-system-dimmed);
--c-text-lighter: var(--color-system-disabled);
--c-text-lightest: var(--color-system-muted);
--c-text-quote: var(--color-system-main);

// border colors
--c-border: var(--color-system-disabled);
--c-border-dark: var(--color-system-disabled);


--shadow-sm: 
	0 0.1rem 0.1rem var(--color-system-muted), 
	0 0.2rem 0.2rem var(--color-system-muted),
	0 0.3rem 0.3rem var(--color-system-muted);
--shadow-md: 
	0 0.2rem 0.2rem var(--color-system-muted), 
	0 0.4rem 0.4rem var(--color-system-muted),
	0 0.8rem 0.8rem var(--color-system-muted);
--shadow-lg: 
	0 0.4rem 0.4rem var(--color-system-muted), 
	0 0.8rem 0.8rem var(--color-system-muted),
	0 1.6rem 1.6rem var(--color-system-muted);
--font-wight--bolder: bolder;
--font-size-2xl: 2em;
}

body {
	background: var(--color-system-invert);
	color: var(--color-system-main);
}

img {
	width: 100%;
	height: auto;
	display: flow-root;
}
// button {
// 	@include focus();
// 	color: var(--color-link-main);
// 	background-color: var(--color-system-invert-highlight);
// 	box-shadow: 0 var(--space-4xs) var(--color-link-main), inset 0 0 0 1px var(--color-link-slight);
// 	border: none;
// 	// padding: var(--space-2xs) var(--space-xs);
// 	padding: 0.8em 1em;
// 	font-size: var(--step--1);
// 	border-radius: var(--border-radius-sm);
// 	font-family: var(--font-mono);
// 	cursor: pointer;
// 	transition: transform 0.35s ease-in-out, box-shadow 0.25s ease-in-out;
// 	transform: translateY(calc(var(--space-4xs) * -1));
// 	&:hover {
// 		transform: translateY(0);
// 		box-shadow: 0 0 var(--color-link-main), inset 0 0 0 1px var(--color-link-main);
// 	}
// }
.icon-btn {
	padding: var(--space-2xs);
}
hr {
	border: none;
	border-bottom: solid 1px var(--color-system-disabled);
	margin-block: var(--space-m);
}
.this-image {
	max-width: calc(var(--space-3xl) * 4);
	height: auto;
	object-fit: cover;
}
.dark {
	--color-system-main: var(--color-mono-0-white);

	--color-system-invert: var(--color-mono-7-darkest);
	--color-system-invert-highlight: var(--color-mono-8-black);

	--color-link-main: hsl(290, 100%, 90%);

	--color-focus-main: hsl(200, 100%, 40%);

	--color-caution: #ff3e17;
	--color-success: #48d800;
}

.logo {
	width: auto;
	display: unset;
}